<a href="https://colab.research.google.com/github/dfigueroa13/data_science_1/blob/main/Curso_PythonBasics_DataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Declaración de variables

In [ ]:
checkingAccount = 500
savingsAccount = 1000
firstName = "Benjamin"
interestRate = 1.5
address = "15 19 Bloomsbury Way, Holborn, London, WC1A 2TH"

#Guardar valores en el banco, agregar 100 a lo que se tiene
savingsAccount = savingsAccount + 100
checkingAccount = checkingAccount -50
numbersDaySafe = (5000 - checkingAccount) /500
numbersDaySafe=int(numbersDaySafe)

print ("El numero de dias para llegar a la cantidad de 5000, ahorrando 500 cada dia son: " + str(numbersDaySafe)+" días")
print(savingsAccount % 200)
print(savingsAccount // 500)

El numero de dias para llegar a la cantidad de 5000, ahorrando 500 cada dia son: 9 días
100
2

#Imprimir
Covertir el valor de una variable estrictamente a entero con int()
De no usarla, el tipo de variable será la más compleja según lo requiera la operación. En este caso seria de tipo *float*.

In [ ]:
savingsAccount = 10000
rate = 0.75

interest = savingsAccount * (rate/100)
interest =int(interest)

print(interest)

75

#Concatenar strings

In [ ]:
favoriteCityOne = "San Francisco"
favoriteCityTwo = "New York"
favorites = favoriteCityOne +" "+ favoriteCityTwo
print(favorites) # => "San FranciscoNew York"

San Francisco New York

#Definición de funciones
Las funciones se definen con la palabra clave **def**, seguido de un parentesis. Dentro del parentesis van los parametros de entrada. No es obligatorio que los lleve.
La función puede llevar un retorno. 

Para imprimir numeros enteros concatenados con un string se puede utilizar:
**str(variable_que_contiene_numero)**

In [ ]:
def printPerimeter(dimension1, dimension2, dimension3):
    perimeter = dimension1 + dimension2 + dimension3
    print(perimeter)

def calculatePerimeter(dimension1, dimension2, dimension3):
    perimeter = dimension1 + dimension2 + dimension3
    return perimeter

#printPerimeter(8,6.6,8)
perimetro0 = calculatePerimeter(87,54,22)
perimetro1 = calculatePerimeter(9,7,3)
print("El primer perimetro es:",perimetro0)
print("El segundo perimetro es: "+ str(perimetro1))

El primer perimetro es: 163
El segundo perimetro es: 19

#Objetos
La programación orientada objetos en python permite que todo sea un objeto, en este caso la clase string, al utilizarla estamos creando instancias de dicha clase y por lo tanto tenemos la posibilidad de utilizar los metodos de dicha clase.
En este ejemplo se utiliza el metodo **replace()**, para reemplazar una palabra por otra dentro de la cadena. Modificando asi el objeto original.

Se puede almacenar el nuevo resultado en otra variable nueva como en el ejemplo.

In [ ]:
texto ="Ahora, pregúnTate CuáNtOs CAramelos PUeDen tEner TuS amigos De uNa SoLa vez"
corregido = texto.replace('CAramelos','Paletas')
print(corregido.capitalize())

Ahora, pregúntate cuántos paletas pueden tener tus amigos de una sola vez

#Listas 
En python las listas son para almacenar objetos.
Se declaran como cualquier variable y los objetos se guardan entre los corchetes. La posición inicia desde **0**.
Para imprimir se escribe la variable y la posición en donde esta el objeto a imprimir.

In [ ]:
#Pueden almacenarse articulos diferentes en una misma lista como enteros y decimales por ejemplo
customerName = ['Marion Weaver', 'Alberto Mendoza', 'Katharine Tyler', 'Isaac Steele']
amountAccount = [10000, 150, 300, 1800.74]
strangeList = [4, 10.2, 'Marion Weaver', ['another list', 1]]

#Modificar un articulo especifico utilizando su posición
customerName[2]='Alberto Meza'

#imprimir objeto dentro de lista utilizando su posición dentro de la lista.
print(customerName[3])
print(customerName[2])

# print the last item
print(customerName[-1])

# access the second item to the 3rd
print(customerName[1:3])

# access all items from the beginning to the second
print(customerName[:2])

# print the 4th item of the list
print(strangeList[3])


##**[Exercise]** One List to Govern Them All

-Declare a colors list containing five items: red, yellow, orange, green, and blue.

-Replace the color green with emerald

-Print the contents of the list:

In [ ]:
colors =['red','yellow','orange','green','blue']
colors[3]='emerald'

#Para imprimir los objetos de una lista utilice el ciclo for de la siguiente forma
for n in colors:
  print(n)
print (colors)

In [ ]:
numeros = [1, 2, 4, 5, 8, 6,3]

#El ciclo for puede utilizarse junto con la sentencia if dentro del ciclo
for n in numeros:
  print('secuencia no. ',n)
  if n == 3:
        print('Encontré el 3: ')
        break
  else:
      print('No se encontró el número 3')

numeros.extend(['hola',666,22])
numeros.index('hola')

#Agregar elementos a lista
Una lista puede ser modificada.
Dentro de una lista se puede:

-**buscar** un elemento específico en la lista.

-**añadir** un nuevo elemento al final.

-**insertar** un nuevo elemento en un índice específico.

-**eliminar** un elemento de la lista.

In [ ]:
from re import L
list = []
list.append(7) # -> [7]
list.append(5) # -> [7, 5]
list.insert(1,12) # [7, 12, 5]
list[0] = 4 # -> [4, 12, 5]
list.remove(12) # [4, 5]
list.index(5) # prints 1, imprime la posición en donde se encuentra dicho valor
list.extend([1, 2, 3]) # [4, 5, 1, 2, 3]
del list[3] # [4, 5, 1, 3]

len(list) # Imprime el tamaño de la lista, es decir el número de articulos dentro de la lista

#for n in list:
 #print(n)

4

#Adding Items to a List

Replace the ?? with the appropriate code to create an empty list:

-Add three guests to the list: Joey, Martin, and Mary

-Print the size of the list:

-Replace Martin with John in the list:

-Delete Joey from the list:

-Print the contents of the list:

In [ ]:
names =[]
names.append('Joey')
names.append('Martin')
names.append('Mary')
#guests.extend(['Joey', 'Martin', 'Mary'])

len(names)
del names[1] #eliminar por posición
names.insert(0,'John')

#guests.insert(1, 'John')
#guests.remove('Martin')

names.remove('Joey') #eliminar por "nombre" o valor si es numero

for n in names:
  print(n)

#Diccionarios
Similares a las listas, pero cada articulo se asocia a una clave que debe ser única. Se utilizan corchetes para declararse y son en pares, cada uno con su clave-valor.

##Manipular elementos
Estas son las operaciones que se realizan frecuentemente con los diccionarios:

-Acceder al valor de un artículo

-Agregar un nuevo elemento (un nuevo par clave-valor)

-Eliminar un elemento a través de su clave

In [ ]:
#Así se declara un diccionario
accounts = {'Marion Weaver': 10000, 'Alberto Mendoza': 150, 'Katharine Tyler': 300, 'Isaac Steele': 1800.74, 'Christian Meza': 100000}
accounts['Marion Weaver'] -= 2000 # I subtract 2000 from Marion's account
accounts['Kristian Roach'] = 1000 # I add a new individual in my dictionary

accounts.pop('Christian Meza') # deletes Christian Meza from our dictionary

#print(accounts['Kristian Roach']) # I print the value of Kristian's account
#print(accounts['Alberto Mendoza']) # -> 150
#print(accounts['Marion Weaver']) # -> 150
print(accounts)
len(accounts) #Devuelve el tamaño del diccionario

{'Marion Weaver': 8000, 'Alberto Mendoza': 150, 'Katharine Tyler': 300, 'Isaac Steele': 1800.74, 'Kristian Roach': 1000}

5

#Tuplas Innmutables

Son Listas con objetos ordenados, pero que una vez creadas no se pueden modificar.Se pueden usar:

-cuando quiera asegurarse de que los datos no se modifican dentro de un programa.

-para devolver varios valores de una función, es posible devolver varios valores... ¡con una tupla!

-para declarar varias variables en una línea.

In [ ]:
my_tuple = (1, 2, 3, 'a', 'b')
print(my_tuple[1], " <-porque esta en la posición 1") # -> 2
print(my_tuple[4], " <-porque esta en la posición 4") # -> 'b'

#Declarar variables al mismo tiempo desde tuplas
a, b = (1, 'apple')
print(a) # -> 1
print(b) # -> 'apple'

2  <-porque esta en la posición 1
b  <-porque esta en la posición 4
5
apple
5 apple

#Inputs y condicional if-else

In [ ]:
username =input('Como te llamas?')

if len(username)!=0:
  print('Hola',username,', bienvenido!!')
else:
  print('Hola desconocido')

#Booleanos
Puede ser true or false. Las sentencias condicionales siempre deben ser evaluadas bajo valores booleanos.
Existen varias formas de producir dichos valores, por ejemplo:

-operadores de comparación(<,>,<=,>=,==,!=)

-operadores lógicos (*and, or, not*). Al igual que con las operaciones numéricas, los operadores lógicos respetan las prioridades de las operaciones: el *not* se aplica primero, luego el *and* y por ultimo el operador *or*. Tambien se puede utilizar parentesis para definir el orden.

-Operador ***in***: esto vuelve *True* cuando se encuentra un valor en una secuencia (una cadena o una lista); *False*, si no.

In [ ]:
thisCourseIsGreat = True
itsAuthorIsVeryHumble = False
weather = "The weather is great!"

#Metodo de string que permite producir un valor booleano si dicho string inicia con algun valor o palabra especifica
weather.startswith("Hola") # -> False
#2 == 3 # -> True

In [ ]:
True and True # True
True and False # False
False and False # False
True or False # True
True or True # True
False or False # False
not(True) # False
not(False) # True

In [ ]:
False or False or True and True # True
#not(False) and True or False # True

In [ ]:
myList = [4, 2, 3, 2, 10]
myStringList = ["a", "b", "c", "d"]
myString = "The weather is really good today!"

4 in myList # True
0 in myList # False
0 in myStringList # False
"c" in myStringList # True
"e" in myStringList # False
"weather" in myString # True
"really" in myString # True
"rain?" in myString # False

False

In [ ]:
cuentas={'Diego':5000,'Jose':6000,'Jack':999,'Robin':20000}

consulta = input("Que cuenta desea consultar para prestamos")
#print(consulta)
#print(cuentas['Diego'])
result=cuentas[consulta]
#print(result)
result = int(result) # transform the answer into an integer


if result >= 10000:
    print("Loan granted!")
elif result >= 1000 and result < 10000:
    print("Loan in process of validation: under study")
else:
    print("Loan refused")

Que cuenta desea consultar para prestamosDiego
Loan in process of validation: under study

In [ ]:
cuentas={'Diego':5000,'Jose':6000,'Jack':999,'Robin':20000}
print(cuentas['Diego'])

5000

#Ciclo FOR

Se puede utilizar para iterar una cadena de caracteres (String), una lista o diccionario. Tambien se puede iterar utilizando un valor entero iterativo.

In [ ]:
myString = "Items"

for elt in myString:
    print(elt)

In [ ]:
myList=[7,3,2,5]
for recorrer in myList:
  print(recorrer)

In [ ]:
for i in range(0, 5, 1):
    print(i) # -> print from 0 to 4 by steps of 1 (end - 1)

for i in range(0, 5):
    print(i) # -> prints from 0 to 4 also (default step is 1)

for i in range(5):
    print(i) # -> prints from 0 to 4 also (default start is 0)

for i in range(0, 5, 2):
    print(i) # -> print 0, 2 then 4

#Ciclo WHILE

El bucle while se ejecutará siempre que se cumpla una condición . Es una especie de combinación de un bucle for y una estructura if . El número de repeticiones no se define de antemano, sino a través de una condición a cumplir, como con un if . Esto se llama bucle condicional.

In [ ]:
numberTrees = 0

while numberTrees < 10:
    numberTrees += 1
    print("I planted", numberTrees, "trees")

print("I have a nice forest!")

**[EJERCICIO]** Writing FOR and WHILE loops

Create a for loop that prints: "OpenClassrooms is really great!" five times

In [ ]:
#FOR
for i in range(5):
  print("OpenClassrooms is really great!")

In [ ]:
#WHILE
cont =0
while cont<5:
  print("OpenClassrooms is really great!")
  cont+=1

#Omita algunas declaraciones dentro de su ciclo

In [ ]:
for i in range(10):
    # statements executed at each iteration
    
    if (i == 8) or (i == 4):
        print(i,"Special case")
        continue   ##Para continuar
    print(i)
    # statements not executed if i == 2 or 5
    #print("i != 2 & i != 5")

In [ ]:
basket = ["apple", "orange", "banana"]

for fruit in basket:
    if fruit == "orange":
        print("I have an orange!")
    else:
        print("I don't have an orange")
        break

In [ ]:
d = {'a': 0, 'b': 1, 'c': 0}


if d['a'] > 0:

   print('yeah!')

elif d['b'] > 0:

   print('yeah!')

elif d['c'] > 0:

   print('ok')

elif d['d'] > 0:

   print('ok')

else:

   print('not ok')

yeah!

In [ ]:
a = ['foo', 'bar', 'baz', 'qux', 'corge']

 

while a:

   if len(a) < 3:

      break

   print(a.pop())

print('Done.')

corge
qux
baz
Done.

#Random

In [ ]:
import random
for i in range(3):
  print(random.random())

0.7677120311761655
0.6771062411250496
0.4764665266236098

In [ ]:
x=random.random()
print(x)

0.690117792059544

In [ ]:
import numpy as np
x=np.random.random()
print(x)

0.6002372210118934

In [ ]:
from numpy import random as rnd
x=rnd.random()
print(x)

0.004732533005648021

In [ ]:
for i in range(3):
  print(random.uniform(1,100)) #will generate a random float between   a  and   b .

4.252179898680944
17.989738754479255
59.514724428732876

In [ ]:
for i in range(3):
  print(random.randint(1,100)) #as its name suggests, this one is similar to   uniform  except that the random number generated is an integer this time!

71
47
74

#Generar numeros aleatorios de acuerdo con una distribución dada

In [ ]:
for i in range(10):
  print(random.gauss(0,1))

-0.03010105777442067
0.8662521516300524
0.2558741833005265
1.1583564796308026
0.8113090860945108
0.9767359715212927
0.20885654018836128
-0.6514532608415339
0.6101779516958241
-2.333993539846798

#Elegir aleatoriamente los elementos de una lista

En el análisis de datos, este concepto de submuestreo es esencial, ya que puede seleccionar una muestra de una población inicial. En estadística, una muestra es un conjunto de individuos representativos de una población. El uso de una submuestra es generalmente una solución a una restricción práctica (falta de tiempo, espacio, costo financiero, etc.) que no permite un estudio exhaustivo de toda la población.

In [ ]:
lista =['uno','dos','tres','cuatro','cinco','seis']
for i in range(3):
  print(random.choice(lista))

cuatro
tres
uno

In [ ]:
print(random.choices(lista,k=2))
print(random.choices(lista,k=3))
#Devuelve valores con reemplazo

['dos', 'seis', 'dos', 'cuatro', 'tres', 'cuatro', 'dos', 'uno', 'seis', 'tres', 'tres', 'uno', 'dos', 'uno', 'dos', 'uno', 'cuatro', 'cinco', 'seis', 'tres', 'seis', 'tres', 'cinco', 'seis', 'cinco', 'seis', 'cinco', 'tres']
['cuatro', 'cinco', 'uno']

In [ ]:
print(random.sample(lista,6))
print(random.sample(lista,3))
#Devuelve los valores sin reemplazo, es decir elecciones unicas

['seis', 'dos', 'uno', 'cinco', 'tres', 'cuatro']
['uno', 'cinco', 'cuatro']

#Pregunta 3

In [ ]:
def grupo(itema, itemb):
  tiradas =[]
  for i in range(10000): 
    rand =random.randint(1,6) 
    tiradas.insert(0,rand) #insertamos en la lista los tiros aleatorios, en total la lista es de 10000 elementos

  freq=tiradas.count(itema) #Sacamos el total de veces que aparece el primer item en la lista de 10000
  muestra = random.sample(tiradas,1000) #elijo una muestra aleatoria de 1000
#prom_muestra = sum(muestra) /1000

  freqmini =muestra.count(itemb)#Sacamos el total de veces que aparece el segundo item en la lista de 1000
  print(freq)
  print(freqmini)
#print(tiradas)

for a in range (5):

  a=grupo(5,2)

1656
174
1660
170
1726
149
1621
165
1603
180

#Pregunta 4
LA entrada cuesta $1. La moneda esta sesgada con la probabilidad de que cruz caiga 0.59% de las veces. Si sale cruz recupera el dolar y suma otro.

In [ ]:
import random
capital= 1000

def juegoA (capital):
  opciones = ['cara', 'cruz']
  pesos = [0.51, 0.49]
  resultado = random.choices(opciones, weights=pesos)[0]
  if resultado == 'cara':
    saldo_total = capital -1
  else:
    saldo_total =capital+1
  #print(resultado)
  return saldo_total


for i in range(1000):
  resultA = juegoA(capital)
  capital =resultA
 
'''
#for i in range(10):
resultA=juegoA()
print(resultA)
'''
print("total despues de 1000 juegos: ",resultA)

total despues de 1000 juegos:  1044

In [ ]:
capital =1000
def juegoB(capital):
  opciones = ['cara', 'cruz']
  pesos1 = [0.91,0.09]
  pesos2= [0.26,0.74]
  if capital %3 ==0: ##Se determina si el capital es multiplo de 3 se utilizara la moneda 1
    resultado =random.choices(opciones, weights=pesos1, k=1)[0]
    if resultado =='cara':
      saldo_total= capital -1
    elif resultado =='cruz':
      saldo_total=capital+1

  elif capital %3 !=0: ##Se determina si el capital no es multiplo de 3 se utilizara la moneda 2
    resultado =random.choices(opciones, weights=pesos2, k=1)[0]
    if resultado =='cara':
      saldo_total= capital -1
    elif resultado =='cruz':
      saldo_total=capital+1
  return saldo_total

for i in range(1000):
  resultB = juegoB(capital)
  capital =resultB

print(capital)

1006

#Pregunta 6
¡Ahora mezclaremos los dos juegos presentados en la pregunta anterior! Efectivamente, en cada turno, ¡ahora lanzamos una moneda que está balanceada! Si sale cruz, juega el juego A, de lo contrario, juega el juego B.

Se supone que el jugador tiene $1,000 como capital inicial.

Después de jugar 1.000.000 de juegos, ¿cuál es el estado del juego desde el punto de vista del jugador?

In [ ]:
capital =1000
opciones = ['cara', 'cruz']
pesos = [0.50, 0.50]
tirada_moneda = random.choices(opciones, weights=pesos, k=1)[0]

for i in range(1000000):
  if tirada_moneda == 'cruz':
    resultA = juegoA(capital)
    capital =resultA
  else:
    resultB = juegoB(capital)
    capital =resultB


print("El total del capital es: ",capital)

El total del capital es:  -16400

#Pregunta 6
¿Cómo podemos generar N billetes de lotería, es decir, N números entre 0 y 999, que sean únicos ?

Puedes usar el range(p)función para producir una secuencia de números enteros de 0 a p-1.

In [ ]:
#range(p) produces a sequence of integers from 0 to p-1
population =range(1000)
N=10
print(population)

range(0, 1000)

In [ ]:
random.choices(population,k=N)

[787, 514, 121, 185, 24, 352, 32, 496, 967, 834]

In [ ]:
tickets =[]
for n in range(N):
  list =tickets.append(random.choice(population))

range(0, 1000)

In [ ]:
random.sample(population,N)

[629, 902, 365, 509, 311, 195, 284, 878, 316, 246]

In [ ]:
tickets = []
for n in range(N):
  tickets.append(random.randint(0,1000))

#Pregunta 7
Intentamos generar un flotante aleatorio con la función aleatoria.

¿Cuál es la mejor manera de importar el módulo correcto y llamar a la función correcta para esto?

In [ ]:
from numpy import random as rnd